*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 90px;
    background: transparent;
    position: absolute;
}
.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: inherit;
    background: transparent;
}
.header-content .logo{
    width: 100px;
    height: 100px; 
}
.header-content .logo img{
    width: 200px;
    height: 90px;
}
.navegation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    margin-left: 190px;

    
}
.navegation li a{
    font-size: 22px;
    color: rgb(79, 76, 76);
    font-weight: 700;
    transition:  ease-in-out 0.5s
    
}
.navegation li a:hover{
    color: orange;
}
.navegation li a.black{
    color: white;
    font-weight: 700;
}
.navegation li a.black:hover{
    color: orange;
}
.delivery_btn{
   margin-top: 12px;
}
.delivery_btn li a{
    font-size: 22px;
    background: white;
    color: black;
    padding: 5px 80px;
    border-radius: 30px;

}
.delivery_btn li a:hover{
   background-color: white;
   color: red;
   transition: ease-in-out 0.5s;
}
.first-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.first-section .right_side{
    width: 50%;
    height: 100vh;
    background-color: black;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.first-section .left-side{
    width: 50%;
    flex: 1;

}
.midle{
   position:absolute;
}
.midle img{
    width: 800px;
    height: 800px;
}
.text-content{
    width: 500px;
    height: 600px;
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.text-content .text-desc{
    color: orange;
    font-size: 40px;
    font-family: "Dancing Script", cursive;
    
}
.text-content .sub_text{
    font-size: 160px;
    margin-top: -60px;
    color: rgb(79, 76, 76);
    font-family: Arial, Helvetica, sans-serif;
}
.text-content p{
    color: gray;
}
.more{
    margin-top: 100px;
}
.more li a{
    color: white;
    font-size: 22px;
    background: rgb(251, 163, 0);
    padding: 10px 100px;
    border-radius: 30px;
    box-shadow: 0px 0px 5px gray;
}
.burger-aside-content{
    background-color: white;
    right: 0px;
    position: absolute;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.aside-burger1 img, .aside-burger2 img, .aside-burger3 img{
    width: 170px;
}
.social-content{
    display: flex;
    gap: 50px;
    color: white;
    align-self: flex-end;
    margin-bottom: 70px;
}
.social-content i{
    font-size: 24px;
    cursor: pointer;
}
.social-content i:hover{
    color: orange;
}